.App {
  text-align: center;
  display: grid;
  height: 100vh;
  width: 100vw;

  grid-template-columns: 100%;
  grid-template-rows: 40% 60%;
}
.graphics {
  display: grid;
  grid-template-columns: 2% 22% 22% 25% 25% 2%;
  grid-template-rows: 5% 90% 5%;
  padding-top: 20px;
  background-color: green;

  column-gap: 10px;
}

.mafiaContainer,
.townContainer,
.seats,
.countdown {
  background-color: grey;
  font-size: 20px;
  font-weight: 700;
  opacity: 0.8;
}

.mafiaContainer {
  grid-column: 2 / 3;
  grid-row: 2/3;

  display: grid;
  justify-items: center;
}

.mafiaTitle {
  margin-bottom: 0px;
  margin-top: -15px;
  font-size: 35px;
  padding: 10px;
  width: fit-content;
  height: fit-content;
  background-color: black;
  color: red;
}

.mafiaPlayers {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 200px;
  width: 75%;
}

.townContainer {
  grid-column: 3 / 4;
  grid-row: 2/3;

  display: grid;
  justify-items: center;
}

.townTitle {
  margin-bottom: 0px;
  margin-top: -15px;
  font-size: 35px;
  padding: 10px;
  width: fit-content;
  height: fit-content;
  background-color: black;
  color: white;
}

.townPlayers {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 200px;
  width: 75%;
}

.playerInTown {
  margin: 6px;
}

.countdown {
  grid-column: 5 / 6;
  grid-row: 2 / 3;

  display: grid;
  font-size: 50px;
}

.countdownTitle {
  margin-top: -15px;
  font-size: 20px;
  padding: 10px;
  width: fit-content;
  height: fit-content;
  background-color: Yellow;
  color: black;
  justify-self: center;
}

.seats {
  grid-column: 4 / 5;
  grid-row: 2 / 3;

  padding-top: 20px;

  display: grid;
}

.playerInMafia {
  color: red;
}

.cop {
  color: blue;
}

.vig {
  color: purple;
}

.medic {
  color: #ff73b9;
}
.town {
  color: white;
}

.console {
  background-color: grey;
}

.generalInputArea {
  display: flex;
  justify-content: space-between;
  padding: 10px 200px;
}

.addPlayerContainer {
  display: flex;
}

.playersContainer {
  display: flex;
  flex-wrap: wrap;
}

.playersContainer {
  margin-right: 10px;
}

.player {
  background-color: aqua;
  color: black;
  width: 160px;
  height: 160px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.player select {
  width: 50%;
  margin: 5px;
}

.removePlayerButton {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
